
<div class="row" style="margin-top:10px; margin-bottom:10px ; margin-left: 2%;margin-right: 2%"  >
    <div class="media col-8">
      <div style="padding-left: 380px; top: 235px; position: absolute;">
         <div class="spinner-border text-primary" role="status" *ngIf="isUploading">
            <span class="sr-only">Loading...</span>
          </div>
      </div>
       
      <img (mousemove)="onMouse($event)" (click)="onClikPoint()" class="imageObj img-thumbnail" [src]="scannedImage" >
      <div [class.image-hidden]="scannedImage==''"
        *ngFor="let point of selectedPoints; let i = index" 
        (click)="onRemove(i)" class="animated zoomIn" 
        [style.left]="point.x + 'px'" 
        [style.top]="point. y+ 'px'" 
        style="width: 10px;height: 10px;position: absolute;background: red;border-radius: 50%;cursor: not-allowed">
      </div>


    </div>
    <div class="col-4" style="margin-top: 3% ;position:relative;">
      <button type="button" class="btn btn-primary" (click)="getImage()">Scan</button>
      <div style="height: 380px" > <br>
        <h4>Selected Points</h4>
  
        <table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
            <thead>
              <tr>
                <th style="width: 100px" *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let point of selectedPoints; let i = index">
                <th>{{i+1}}</th>
                <td>{{point.x}}</td>
                <td>{{point.y}}</td>
              </tr>
            </tbody>
          </table>
        </div>
          <button type="button" class="btn btn-primary" [disabled]= "selectedPoints.length==0" (click)="solderPoints()">Solder</button>
    </div>
    <sui-dimmer class="page" [isDimmed]="mainStore.isSoldering" [isClickable] = "false">
        <h2 class="ui inverted icon header">
            <i class="microchip icon"></i>
            <div class="progress" *ngIf="isSoldering" style="width: 800px; height:20px ; margin-left: 3%">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </h2> <br>
        <button type="button" class="btn btn-danger" (click)= "abort()">Abort</button>
        <button type="button" class="btn btn-success" *ngIf ="!mainStore.isSoldering" (click)= "done()">Done</button>
    </sui-dimmer>
  </div>


  
  
